$color-bg: #a50034;
.at-nav-bar {
  background-color: #a50034;
  .at-nav-bar__title {
    color: #ffffff;
  }
}
button {
  background-color: $color-bg;
  color: #ffffff;
  margin: 1rem;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 0.8rem;
}
.camera-button-span {
  margin-top: 0.5rem;
}
.camera-span {
  margin: 0;
  height: 300px;
}
.expand {
  height: 700px;
}
.preview-span {
  background-color: #c0c0c0;
  margin: 20px;
  margin-bottom: 20px;
  height: 200px;
}
