$color-bg: #a50034;
$color-lg-lgreen: #bad80a;
$color-lg-green: #62a60a;
$color-lg-lred: #ffa3b2;
.at-nav-bar {
  background-color: #a50034;
  .at-nav-bar__title {
    color: #ffffff;
  }
}
.at-tabs__item--active {
  color: $color-bg;
}
.at-modal__header {
  background-color: $color-bg;
  color: #ffffff;
}
.item-content__info-title {
  font-size: 0.8rem !important;
}
.item-content__info-note {
  color: #666 !important;
}
.back-image {
  margin: -100;
  padding: 0;
}
.home-input {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  color: #a50034;
  font-weight: bold;
}
.home-input-semi-left:active {
  color: $color-bg;
  font-weight: bold;
}
.home-input-semi-right {
  color: $color-bg !important;
  font-weight: bold;
}
.confirm-info {
  margin-top: 1.2rem;
  line-height: 1.2rem;
  color: #666666;
  word-wrap: break-word;
  display: block;
  text-align: center;
}
.form-title {
  color: #666666;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  display: block;
  font-weight: bold;
}
.form-detail-header {
  flex-direction: row;
  display: flex;
}
.form-detail-title {
  color: #666666;
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: block;
  font-weight: bold;
  background-color: "blue";
  flex: 3;
}
.form-detail-title-right {
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
  flex: 1;
  float: right;
  text-align: right;
}
.form-divider {
  color: #f5f5f5;
  height: 33px;
  margin: 0 auto;
}
.form-caption {
  color: #666666;
  font-size: 1rem;
  line-height: 1.8rem;
  display: block;
}
.form-caption-split {
  color: #666666;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
}
hr {
  color: #999999;
  background-color: #999999;
  height: 2px;
}
.notarrive {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bolder;
  background-color: #ffa3b2;
  display: inline-block;
  margin: "0 auto";
  padding: 10px;
}
.arrived {
  color: #ffffff;
  font-size: 1rem;
  font-weight: bolder;
  background-color: $color-lg-lgreen;
  display: inline-block;
  margin: "0 auto";
  padding: 10px;
}
.sheet-info-span {
  margin: 1rem;
  padding-top: 5rem;
  background-color: #f5f5f5;
  border-radius: 0.8rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  font-family: "Teko" sans-serif;
  padding-top: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-bottom: 2.2rem;

  .form-userinfo {
    background-color: #f5f5f5;
    padding-bottom: 2rem;
    .input-text {
      border-radius: 10px;
      border-color: #dddddd;
      border-width: 2px;
      border-style: solid;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 1rem;
      margin-bottom: 1rem;
      margin-left: 0;
    }
    .picker {
      border-radius: 10px;
      border-color: #dddddd;
      border-width: 2px;
      border-style: solid;
      margin-bottom: 1rem;
      margin-left: 0;
    }
  }
}
.right-button-1 {
  background-color: $color-lg-green;
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 2.2rem;
  height: 2.2rem;
  border: none;
  box-sizing: none;
  flex: 2;
}

.right-button {
  background-color: $color-bg;
  color: #ffffff;
  font-size: 0.8rem;
  line-height: 2.2rem;
  height: 2.2rem;
  border: none;
  box-sizing: none;
  flex: 2;
}
.home-button {
  margin-top: 1rem;
  background-color: $color-bg;
  color: #ffffff;
  height: 4rem;
  line-height: 4rem;
  font-size: 0.8rem;
}

.home-prompt-span {
  margin-top: 2rem;
  margin-left: 2rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-style: italic;
}
