$color-bg: #a50034;
.at-nav-bar {
  background-color: #a50034;
  .at-nav-bar__title {
    color: #ffffff;
  }
}

.sheet-span {
  margin-top: 2rem;
  margin-left: 2rem;
  color: #ffffff;
  background-color: #cccccc;
  font-size: 0.8rem;
  font-style: italic;
}
