@font-face {
  font-family: "FontAwesome";
  src: url("./assets/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("./assets/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("./assets/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("./assets/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 fontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-clock:before {
  content: "\f00d";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-camera:before {
  content: "\f030";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-picture-o:before {
  content: "\f03e";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-user:before {
  content: "\f007";
}
.fa-user-o:before {
  content: "\f2c0";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-address-card-o:before {
  content: "\f2bc";
}
.fa-wpforms:before {
  content: "\f298";
}
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
